@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body, input, button, textarea {
  font-family: 'Inter', sans-serif;
  color: #20293A;
  resize: none;
}

.purple_button, .white_button {
  width: 100%;
  border-radius: .8rem;
  border: 0 none;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  gap: .6rem;
  padding: .8rem 1.2rem;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  box-shadow: 0 .4rem .4rem -.1rem #11172920;
}

.purple_button {
  background: #6466E9;
  color: #ffffff;
}

.white_button {
  background: #F2F5F9;
  color: #20293A;
}

.purple_button:disabled,
.white_button:disabled {
  opacity: 0.5;
}

button {
  transition: all .3s ease-in-out;
}

button:hover {
  box-shadow: 0 .4rem .4rem -.1rem #11172900;
  cursor: pointer;
  filter: hue-rotate(20deg);
  transition: all .3s ease-in-out;
}