.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  background: #20293A;
  border: 0 none;
  color: #ffffff;
  font-size: 1.6rem;
  border-radius: .8rem;
  padding: .8rem 0;
  margin-top: 2.6rem;
  margin-bottom: 2.4rem;
  box-shadow: 0 .4rem .4rem -.1rem #11172920;
  font-weight: 600;
  transition: all .3s ease-in-out;
}


.button:hover {
  box-shadow: 0 .4rem .4rem -.1rem #11172900;
  cursor: pointer;
  transition: all .3s ease-in-out;
}